body {
    font-family: Arial, sans-serif !important;
  }
.skin-blue .main-sidebar{
    background-color: maroon !important;
}

.skin-blue .main-header .logo{
    background-color: maroon;
    }
    .skin-blue .main-header .logo:hover {
        background-color: crimson;
        }
.skin-blue .main-header .navbar {
    background-color: maroon;
    }
    .content-wrapper, .right-side {
        background-color: whitesmoke;
        }

.skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: crimson;
        }
.small-box.bg-black {background-color: lightslategray !important;

}

.small-box.bg-light-blue {background-color: maroon !important;

}
